body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D1D5DB;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #212c44;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    width: 100%;
}

h1, h2 {
    color: #e5e5ed;
}

button {
    background-color:#075985;
    color: #e5e5ed;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1rem;
}

button:hover {
    background-color: #2f96cd;;
}

footer {
    background-color:#111827;
    color: rgba(255, 255, 255,0.5);
    padding: 1em;
    text-align: center;
    clear: both;
    font-size: 0.6rem;
}
#services,
#pricing,
#contact,
#hero {
    color: #D1D5DB;
}
#contact p a{
    text-decoration: none;
    color: #4290bb;
}
#contact p a:hover{
    color: aqua;
}

#contact {
    overflow: hidden;
}